adversarial-robustness-toolbox>=1.15.0
xgboost
numpy
Pillow
pandas
pyyaml
networkx
scikit-learn
matplotlib
keras
tensorflow-macos; platform_machine == 'arm64' and sys_platform == 'darwin'
tensorflow; platform_machine != 'arm64' or sys_platform != 'darwin'
psutil
