# *******************************************
# Each experiment must define the following:
name: # dataset display name
dataset: # path to data set file (CSV)
constraints: # dictionary
# *******************************************

out: result # output directory
folds: 5 # K-folds (min: 2)
desc: # optional details or experiment notes

# Attack instance parameters
# https://adversarial-robustness-toolbox.readthedocs.io/en/latest/modules/attacks/evasion.html#art.attacks.evasion.ZooAttack.__init__
zoo:
  confidence: 0.25
  learning_rate: 0.1
  binary_search_steps: 10
  initial_const: 0.001
  abort_early: True
  use_resize: False
  use_importance: False
  variable_h: 0.3
  targeted: False
  nb_parallel: 5
  batch_size: 1
  verbose: True
  max_iter: 5

# XGB parameters
# https://xgboost.readthedocs.io/en/stable/parameter.html#general-parameters
# tree booster params
# https://xgboost.readthedocs.io/en/stable/parameter.html#parameters-for-tree-booster
xgb:
  num_boost_round: 20
  params:
    eta: 0.3
    gamma: 0
    max_depth: 6
    min_child_weight: 1
    tree_method: exact
    objective: multi:softprob


pgd:
  norm: none
  eps: 0.3
  eps_step: 0.1
  random_eps: False
  max_iter: 20
  targeted: False
  num_random_init: 0
  batch_size: 1
  verbose: True



