name: LCLD
dataset: data/lcld.csv
desc: credit requests dataset that can be accepted or rejected


cpgd:
  feat_file:  "data/feature_lcld.csv"

constraints:
  immutable:
    - int_rate
    - grade
    - issue_d
    - earliest_cr_line
    - pub_rec
    - pub_rec_bankruptcies
    - fico_score
    - initial_list_status_w
    - diff_issue_d_earliest_cr_line
    - ratio_pub_rec_diff_issue_d_earliest_cr_line
    - ratio_pub_rec_bankruptcies_diff_issue_d_earliest_cr_line
    - ratio_pub_rec_bankruptcies_pub_rec
    - home_ownership_MORTGAGE
    - home_ownership_OTHER
    - home_ownership_OWN
    - home_ownership_RENT
    - verification_status_Not_Verified
    - verification_status_Source_Verified
    - verification_status_Verified

  predicates:
    # see: https://github.com/serval-uni-lu/moeva2-ijcai22-replication/blob/aacf2d954d58cf5b690e485a9fb81e73d6715679/src/examples/lcld/lcld_constraints.py#L75C8-L75C8
    # c1: installment calculation
    - -20 <= installment - -(-(100 * (loan_amnt * (int_rate/1200) * (1 + int_rate/1200) ** term) / ((1 + int_rate/1200) ** term - 1)) // 100) <= 20
    # c2: check open_acc
    - open_acc + 1 <= total_acc + 2
    # c3: check pub_rec_bankruptcies
    - pub_rec_bankruptcies <= pub_rec
    # c4: check term
    - term == 36 or term == 60
    # c5: check ratio_loan_amnt_annual_inc
    - -0.02 <= (ratio_loan_amnt_annual_inc - loan_amnt / annual_inc) <= 0.02
    # c6: check ratio_open_acc_total_acc
    - -0.02 <= (ratio_open_acc_total_acc - open_acc / total_acc) <= 0.02
    # c7: check diff_issue_d_earliest_cr_line
    - -.1 <= diff_issue_d_earliest_cr_line - (((issue_d // 100) * 12 + (issue_d % 100)) - ((earliest_cr_line // 100) * 12 + (earliest_cr_line % 100))) <= .1
    # c8: check ratio_pub_rec_diff_issue_d_earliest_cr_line
    - -0.02 <= ratio_pub_rec_diff_issue_d_earliest_cr_line - pub_rec / diff_issue_d_earliest_cr_line <= 0.02
    # c9: check ratio_pub_rec_bankruptcies_diff_issue_d_earliest_cr_line
    - -0.02 <= (ratio_pub_rec_bankruptcies_diff_issue_d_earliest_cr_line - pub_rec_bankruptcies / diff_issue_d_earliest_cr_line) <= 0.02
    # TODO: check since there should be 10 total
    - -1 <= (ratio_pub_rec_bankruptcies_pub_rec - pub_rec_bankruptcies / (pub_rec + 0.00001)) * ((pub_rec + 0.00001) != 0) - (ratio_pub_rec_bankruptcies_pub_rec - pub_rec_bankruptcies / (pub_rec + 0.00001)) * ((pub_rec + 0.00001) == 0) <= 1
